{% extends "VehicleManagementManagementBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - Edit ?{% endblock %}

{% block management_body %}
	<h2>Edit a ?</h2>
	
	{% include "VehicleManagementManagementBundle::form.html.twig" %}
{% endblock %}
