<form class="well span4" method="post"  {{ form_enctype(form) }}>
	<legend>Add a {{ managementType }}
	{{ form_widget(form) }}
	<!--   <input type="submit" />-->
	<button type="submit" class="btn">Save</button>
</form>
