{% extends "VehicleManagementManagementBundle::layout.html.twig" %} {%
block title %}{{ parent() }} - Vehicle List{% endblock %} 
{% block body %}
	<h2>Welcome on Vehicle Management!</h2>
  	<p>Vehicle Management is a simple and intuitive website that lets you manage your vehicles easily.</p>
  	<p>You can manage your fuel, your maintenance costs and see <strong>amazing charts!</strong></p>
{% endblock %}
